<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

    <!--<link rel="stylesheet" type="text/css" href="<%= grunt.config.get('pkg.name') %>.css"/>-->
    <!--<script type="text/javascript" src="jquery.js"></script>-->
    <!--<script type="text/javascript" src="angular.js"></script>-->
    <!--<script type="text/javascript" src="bootstrap.js"></script>-->
    <!--<script type='text/javascript' src='webrtc.io.js'></script>-->
    <!--<script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.js"></script>-->

    <script type='text/javascript' src='../vendor/jquery/jquery.js'></script>
    <script type='text/javascript' src='../vendor/angular/angular.js'></script>
    <script type='text/javascript' src='../vendor/angular/angular-resource.js'></script>
    <script type='text/javascript' src='app/app.js'></script>

</head>

<body ng-controller='AppCtrl'>
<!--<div ng-include="'header.tpl.html'"></div>-->
<!--<div ng-include="'notifications.tpl.html'" class="container-fluid" ng-show="notifications.getCurrent().length"></div>-->
<h2>Users</h2>
<ul>
    <li ng-repeat="user in users">
        <span ng-click="showUserBugs(user);">{{user.name}}</span>
        <span ng-click="user.$save();">Save me....?</span>
        <ul ng-repeat='bug in user.bugs'>
            <li><span>{{bug.name}}</span><span ng-click='bug.$remove();'>Remove me</span></li>
        </ul>
    </li>

</ul>
</body>
</html>